html::-webkit-scrollbar{
    display: none;
}

.Home {
    font-family: 'Inter';
    font-weight: 500;
}

h1{
    font-family: 'Inter';
    font-weight: 700;
}

h2, button::placeholder{
    font-family: 'Inter';
    font-weight: 600;
}


p{
    font-family: 'Inter';
    font-weight: 500;
}